USE [DataView]
GO
/****** Object:  Table [dataview_gom].[well]    Script Date: 2026-05-25 8:28:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dataview_gom].[well](
	[well_id] [uniqueidentifier] NOT NULL,
	[api_well_number] [nvarchar](20) NOT NULL,
	[well_name] [nvarchar](40) NULL,
	[well_name_suffix] [nvarchar](20) NULL,
	[surface_lease_number] [nvarchar](20) NULL,
	[bottom_lease_number] [nvarchar](20) NULL,
	[bottom_area_code] [nvarchar](10) NULL,
	[bottom_block_number] [nvarchar](20) NULL,
	[region] [nvarchar](40) NULL,
	[company_name] [nvarchar](255) NULL,
	[spud_date] [date] NULL,
	[total_depth_date] [date] NULL,
	[status_date] [date] NULL,
	[bh_total_md_ft] [decimal](10, 2) NULL,
	[true_vertical_depth_ft] [decimal](10, 2) NULL,
	[tvd_subsea_ft] [decimal](10, 2) NULL,
	[rkb_ft] [decimal](10, 2) NULL,
	[kop_ft] [decimal](10, 2) NULL,
	[water_depth_ft] [decimal](10, 2) NULL,
	[type_code] [nvarchar](10) NULL,
	[status_code] [nvarchar](10) NULL,
	[casing_cut_code] [nvarchar](10) NULL,
	[underwater_comp_stub] [nvarchar](10) NULL,
	[surface_latitude] [decimal](11, 7) NULL,
	[surface_longitude] [decimal](11, 7) NULL,
	[bottom_latitude] [decimal](11, 7) NULL,
	[bottom_longitude] [decimal](11, 7) NULL,
	[source_file] [nvarchar](255) NULL,
	[loaded_date] [datetime2](0) NOT NULL,
	[row_changed_date] [datetime2](0) NOT NULL,
 CONSTRAINT [pk_dv_well_gom] PRIMARY KEY CLUSTERED 
(
	[well_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_dv_well_gom_api] UNIQUE NONCLUSTERED 
(
	[api_well_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dataview_gom].[well] ADD  DEFAULT (sysutcdatetime()) FOR [loaded_date]
GO
ALTER TABLE [dataview_gom].[well] ADD  DEFAULT (sysutcdatetime()) FOR [row_changed_date]
GO
